python-gettext
bs4
tqdm
regex
feedparser
datetime
numpy
scikit-learn==1.0.2
pandas
gensim
sqlalchemy
typing
pydantic
nltk
python-dateutil
fastapi
uvicorn
google-cloud-translate
scrapy
langdetect
GoogleNews
deep-translator==1.10.0
libretranslatepy==2.1.3
spacy
transformers
geopy
huggingface-hub
torch
OSMPythonTools